.card {
  box-shadow: 0 4px 8px 0 rgba(255, 253, 253, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 250px;
  margin: 10px auto;
  border: 1px solid #ddd;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 253, 253, 0.4);
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: auto;
}

.container {
  padding: 16px;
  text-align: center;
  color:aliceblue;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 600px;
  margin: 20px auto;
  color: white;
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}